/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #43232bee;
  text-decoration: inherit;
}
a:hover {
  color: #085927f4;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background:#5b70832c;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.container
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar
{
  background-color: #aa7884d2;
  flex: 1;
  padding: 1rem;
}

.mainContent
{
  background-color: #747bff53;
  flex: 2;
  padding: 1rem;
}

/* responsive screen */
/* @media screen and (max-width:992px) {
  
  .sidebar
  {
    background-color: #aa7884d2;
    flex: 1;
    padding: 1rem;
  }
  
  .mainContent
  {
    background-color: #747bff53;
    flex: 2;
    padding: 1rem;
  }
  
  } */

/* @media screen and (max-width:768px) {
  
.sidebar
{
 width: 100%;
}

.mainContent
{
 width: 100%;
}

} */
/* to profile */
.upc
{
  width: 350px;
  margin: 20px;
  border-radius: 4px;
  padding-bottom: 20px;
  background: #9696c243;
}

.grad
{
  background-image: linear-gradient(#26262b43,#c8c8cf43);
  height: 125px;
  border-radius: 4px 4px 0px 0px;
}

.downProfile img 
{
  height: 150px;
  border-radius: 100px;
  margin-top: -75px;
  padding: 5px;
  background: white;
}
.titleProfile
{
  font-size: 36px;
  font-weight: 600;
}


/* for all product  */
.product-container{
  padding: 0 10vw;
  /* display: flex; */
display: grid;
grid-template-columns: auto auto

;  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar{
  display: none;
}

/* .btnEdit
{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  color: #ff7d7d;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
} */

.product-card{
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image{
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb{
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.discount-tag{
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  color: #ff7d7d;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn{
  opacity: 1;
}

.card-btn:hover{
  background: #5250505a;
}

.product-info{
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand{
  text-transform: uppercase;
}

.product-short-des{
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price{
  font-weight: 900;
  font-size: 20px;
}

.actual-price{
  margin-left: 20px;
  opacity: 0.5;
  /* text-decoration: line-through; */
}


.pre-btn, .nxt-btn{
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn{
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn{
  right: 0;
}

.pre-btn img, .nxt-btn img{
  opacity: 0.2;
}

.pre-btn:hover img, .nxt-btn:hover img{
  opacity: 1;
}


/* category */
.category
{
  display: grid;
  grid-template-columns: auto;
}

/* for search & sort */
.filter
{
  display: flex;
  justify-content: space-around;
}


/* for register form  */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #0b0b0b;
    background-image: '';
}

body {
    min-height: 100vh;
    background-color: #f7f2eb;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: #081e5cfe;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: #1c82ab;
}

input[type="text"],
input[type="email"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 10px;
  border-radius: 24px;
  align-items: center;
  border: hidden;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 24px;
    background: #52aedfb2;
    color: #081e5cfe;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

/* to hide/show password */

.inputField{
  background-color: #fff;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: #2826288d 0px 5px 15px;  
}

.inputField input{
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: hidden;
  outline: none;
  font-size: 18px;
  text-indent: 2px;
  text-align: center;
  padding: 3px;  
}

.inputField span{
  cursor: pointer;
}
