

.container
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar
{
  background-color: #aa7884d2;
  flex: 1;
  padding: 1rem;
  position: fixed;  /* Fixed positioning relative to the viewport */
  bottom: 10px;        /* Distance from the top of the viewport */
  left: 0;          /* Align to the left side of the viewport */
  width: 200px;     /* Width of the element */
  height: 50%;     /* Full height of the viewport */
  background-color: #f1f1f1;
}

.mainContent
{
  padding: 1% 0.5%;
  background: #e3e4dbd2;
   width: 100%;
  margin: 0.3em;
   font-family: 'Dancing Script', cursive;
  
  @media (max-width: 1000px) {
    padding: 40px 20px;
  
  }
  }


.mainContentCategory
{
  padding: 5% 2.5%;
  background: #161616ab;
   width: 100%;
  margin: 0.3em;
  
  @media (max-width: 1000px) {
    padding: 40px 20px;
  
  }
  }

  /* list user to admin */

  .contentUser{
    padding: 3% 2.5%;
    background: #c5c3b7af;
     width: 100%;  
    @media (max-width: 1000px) {
      padding: 40px 20px;
  
    }

  }

.user 
{
  padding: 5% 2.5%;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 22px 22px; 
  grid-template-areas: 
    ". . ."
    ". . "; 
}


@media screen and (max-width:992px) {
  
  .user 
  {
    
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 21px 21px; 
    grid-template-areas: 
      ". ."
      ". ."; 
  }
  
  } 

@media screen and (max-width:780px) {
  
  .user 
  {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ".";
  }

}


/* to profile */
.upc
{
  width: 350px;
  margin: 20px;
  border-radius: 4px;
  padding-bottom: 20px;
  background: #8181ab43;
}

.grad
{
  background-image: linear-gradient(#26262b43,#c8c8cf43);
  height: 125px;
  border-radius: 4px 4px 0px 0px;
}

.downProfile img 
{
  height: 150px;
  border-radius: 100px;
  margin-top: -75px;
  padding: 5px;
  background: white;
}
.titleProfile
{
  font-size: 36px;
  font-weight: 600;
}

.closeProfile{
  cursor: pointer;
color: #560707;
}


/* for all product  */
.homePage{
  padding: 2% 0.5%;
background: #858582cc;
 width: 100%;
 margin: 0.3em;
 margin-bottom: 2em;
}

.productTitle{
padding: 1em;
margin: 1em;
text-align: center;
font-size: 54px;
color: #f7f3f3;
font-family: 'Dancing Script', cursive;
/* font-family: 'Playfair Display', serif; */

}

.product 
{

  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . ."
    ". . "; 
}


@media screen and (max-width:992px) {
  
  .product 
  {
    
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 21px 21px; 
    grid-template-areas: 
      ". ."
      ". ."; 
  }
  
  } 

@media screen and (max-width:780px) {
  
  .product 
  {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    gap: 21px 21px; 
    grid-template-areas: 
      ".";
  }

}



.product-container{
  padding: 0 10vw;
display: grid;
grid-template-columns: auto auto;
  overflow-x: auto;
  scroll-behavior: smooth;
  

  
}

.product-container::-webkit-scrollbar{
  display: none;
}


.product-card{
  width: 250px;
  height: 450px;
  margin-right: 40px;
  
}

.product-image{
  position: relative;
  width: 100%;
  height: 350px;
  overflow: visible;
  
}

.product-thumb{
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 18px;

}

.discount-tag{
  position: absolute;
  background: #52505035;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}


 .card-btn{
  position: absolute;
  bottom: 8px;
right: 80%;
width: 7%;
height: auto;
opacity: 0;
padding: 0.6rem;
background: rgba(16, 15, 15, 0.815);
backdrop-filter: blur(16px) saturate(120%);
transition: .3s;
color: #f7f1f1;
border-radius: 18px;
cursor: pointer;
}

 .product-card:hover .card-btn{
  opacity: 1;
} 

.card-btn:hover{
  background: #3b38388f;
  color: #1f1717;
  border-bottom: #560707;

}  


.product-info{
  width: 100%;
  height: 100px;
  padding-top: 10px;
  margin: 10px;
}

.product-brand{
  text-transform: uppercase;
}



.price{
  font-weight: 900;
  font-size: 20px;
  color: #1fe654;
}

.actual-price{
  margin-left: 20px;
  color: #f5f2f2;
  opacity: 0.5;
  text-decoration: line-through;
}


.product-brand{
  color: #fbfdfc;
}

.pre-btn{
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn{
  right: 0;
}

.pre-btn img, .nxt-btn img{
  opacity: 0.2;
}

.pre-btn:hover img, .nxt-btn:hover img{
  opacity: 1;
}


/* category */
.category
{
  display: grid;
  grid-template-columns: auto;
}


.filter
{
padding: 1% 0.5%;
background: #e1dec9e0;
 width: 100%;
 display: flex;
 justify-content: space-around;
 font-family: 'Dancing Script', cursive;

@media (max-width: 1000px) {
  padding: 40px 20px;

}
}

.filter input , select
{
  background-color: rgba(240, 235, 240, 0.645);
  border-radius: 18px;
  font-size: 22px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,2);
  margin: 0.3em;
  font-family: 'Playfair Display', serif; 
}

/* for register form  */
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Bebas+Neue&family=Dancing+Script:wght@500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,900;1,400;1,500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    font-family: 'Aref Ruqaa', serif;
/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Playfair Display', serif; */
    font-size: 22px;
    color: #0b0b0b;
    background-image: '';
}

body {
    min-height: 100vh;
    background-image: url('https://images.pexels.com/photos/12850220/pexels-photo-12850220.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')  ;
    background-size: 100% 100%;

  }

  .footer {
	padding: 5% 2.5%;
	background: #c5c3b7af;
	 /* position: absolute; */
	 bottom: 0;
	width: 100%;
	@media (max-width: 1000px) {
		padding: 40px 20px;

	}}


  .headerSection{
  padding: 3% 2.5%;
	background: #c5c3b7af;
	 margin: 0.8em;
	 width: 100%;
   font-family: 'Dancing Script', cursive;

  @media (max-width: 1000px) {
		padding: 40px 20px;

  }
  }

  .error{
    padding: 3% 2.5%;
    background: #aa2519b1;
     width: 100%;
     height: 450px;
  
  }

  .aboutMeSection{
    padding: 5% 0.5%;
    background: #bdbbb0ed;
    margin: 0.5em;
     width: 100%;
font-size: 19px;  
    @media (max-width: 1000px) {
      padding: 40px 20px;
  
    }
  }

  .aboutMeSection h3{
    padding: 5% 1.5%;

  }

  .aboutMeSection h1{
    font-family: 'Dancing Script', cursive;
  }

  .heroSection
  {
  padding: 5% 0.5%;
	background: #e1dec9e0;
	 width: 100%;
   display: inline-block;
   font-family: 'Dancing Script', cursive;

  @media (max-width: 1000px) {
		padding: 40px 20px;

  }
  }

  .backgroundHero
  {
  display: grid; 
  grid-template-columns: 1fr 1fr ; 
  grid-template-rows: 1fr 1fr ; 
  gap: 22px 22px; 
  grid-template-areas: 
    ". . "
    ".  "; 
   
  }


  @media screen and (max-width:992px) {
  
    .backgroundHero 
    {
      display: grid; 
      grid-auto-columns: 1fr; 
      grid-template-columns: 1fr ; 
      grid-template-rows: 1fr ; 
      gap: 21px 21px; 
      grid-template-areas: 
        "."; 
    }
    
    } 
  
    .backgroundHero div h1
    {
      text-shadow: 1px 1px 2px rgb(179, 168, 111),
       0 0 1em rgb(24, 6, 22),
       0 0 0.2em rgb(215, 215, 233);
      font-family: 'Playfair Display', serif;
    }


.sectionAdmin
{
  position: sticky;
  top: 0;
  padding: 0.9% 0.5%;
	background: #13131296;
  color: #f7faf8;
	 margin: 0.8em;
	 width: 100%;
   font-family: 'Dancing Script', cursive;
   z-index:10;

  @media (max-width: 1000px) {
		padding: 40px 20px;

  }
}

 .sectionAdmin ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0.8rem 1.5rem;

}

.sectionAdmin ul li a  {
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.4s;
  font-size: 24px;
  color: #f7faf8;

}

 .sectionAdmin ul li a :hover{
  color: #7a6d1eb5 ;
  }

  .product-imageAdmin{
    position: relative;
  }
  .card-btnAdmin{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 30px;
  }

  .addProduct{
    padding: 1em;
    margin: 2em;
    border-radius: 50%;
    background-color: #f2f5f3df;
    cursor: pointer;
  }

  .iconAdminProduct{
    position: absolute;
    padding: 0.6em;
    margin: 1em;
    border-radius: 50%;
    background-color: #f2f5f3df;
    cursor: pointer;
    bottom: -10px;
    left: 0px;
  }

  .iconAdminProduct1{
    position: absolute;
    padding: 0.6em;
    margin: 1em;
    border-radius: 50%;
    background-color: #f2f5f3df;
    cursor: pointer;
    bottom: -10px;
    right: 0px;

  }

 /* for navbar */

 .navBar{
  position: sticky;
  top: 0;
  padding: 0 0.8%;
  background: #eeece1d4;
  bottom: 0;
  width: 100%;
  font-family: 'Dancing Script', cursive;
  z-index:9;

  @media (max-width: 1000px) {
    padding: 40px 20px;

  }

}
  nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
  }

  nav ul li a  {
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
  }

  nav ul li a :hover{
    color: #7a6d1eb5 ;
    }



.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color:  #c5c3b7af;
    opacity: 0.9;
    box-shadow: 0 5px 10px rgba(0,0,0,2);
    border-radius: 18px;
    margin-bottom: 2em;
    margin-top: 2em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem; 
}

a, a:visited {
    color: #403104;
  /* list-style-type: none; */
  font-family: 'Dancing Script', cursive;

}


label,
button {
  margin-top: 1rem;
font-size: 22px;
font-family: 'Playfair Display', serif; 
color: #6d6310;

}

button {
  padding: 0.5rem;
  padding: 10px;
  box-shadow: #2826288d 0px 5px 15px; 
  border-radius: 18px;
  border: none;
}

.instructions {
    font-size: 0.75rem;
    transition: width 2s;
    border-radius: 24px;
    background: #8a9296b2;
    color: #081e5cfe;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;

}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
    transition: width 2s;

}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

/* to hide/show password */

.inputField{
  background-color: #fff;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: #2826288d 0px 5px 15px;  

}

.inputField input{
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: hidden;
  outline: none;
  font-size: 22px;
  text-indent: 2px;
  text-align: center;
  padding: 3px;  
  font-family: 'Playfair Display', serif; 
}

.inputField span{
  cursor: pointer;
}


/* for detail products */

/* zoom in image */
.contImg
{
  height: 200px;
  overflow: hidden;
  border-radius: 16px;
}


.contImg img{
  object-fit: cover;
  transition: transform 0.8s;
  height: 100%;
}

.contImg:hover img {
  transform: scale(1.5)
}


/* for detail products */

.backDetail{
  position: relative;
  padding: 5% 0.5%;
	background: #f5f5ee88;
	 width: 100%;
   font-family: 'Dancing Script', cursive;
  margin: 50px;
}




.wrapper
{
  position: relative;
  left: 240px;
  flex-wrap: wrap;

}


.backInfo{
position: absolute;
top: 50%;
right: -60px;
transform: translate(-50%, -50%);
width: 540px;
height: 480px;
text-align: center;
padding: 0.6rem;
background: rgba(13, 12, 12, 0.638);
backdrop-filter: blur(16px) saturate(120%);
transition: .3s;
color: #f7f1f1;
border-radius: 18px;
font-family: 'Playfair Display', serif;
box-shadow: #0d0c0d8d 0px 5px 15px;  

}

.nameDetail{
  padding: 1.5em ;
}
.priceDetail{
  color: #1fe654;
}

.descDetail{
  padding: 1%;
  margin: 1em;
  width: 450px;
  border: #f0eaea;
  background-color: #0b0b0b7d;
  border-radius: 18px;
  word-break: break-word;
}

.categoryDetail{
  background-color: #12151380;
  border-radius: 18px;
}

.card{
  position: relative;
  width: 350px;
  height: 480px;
  background: #b7b2b2;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0,0,0,2);
}

.closeRight
{
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 25px;
  color: #971d1d;
  cursor: pointer;
} 

.heartIcon
{
position: absolute;
bottom: 8px;
right: 90px;
width: 7%;
height: auto;
padding: 0.6rem;
background: rgba(16, 15, 15, 0.815);
backdrop-filter: blur(16px) saturate(120%);
transition: .3s;
color: #f7f1f1;
border-radius: 18px;
cursor: pointer;

}


.heartIcon:hover{
  color: #e11212;
}


.shopIcon
{
position: absolute;
bottom: 8px;
left: 90px;
width: 7%;
height: auto;
padding: 0.6rem;
background: rgba(16, 15, 15, 0.815);
backdrop-filter: blur(16px) saturate(120%);
transition: .3s;
color: #f7f1f1;
border-radius: 18px;
cursor: pointer;

}


.shopIcon:hover{
  color: #cdb72a;
}


.poster
{
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 120%;
height: 98%;
overflow: hidden;
}


.poster img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  object-fit: cover;
  transition: .3s;
  border-radius: 18px;
  object-fit: cover;
  transition: transform 0.8s;
}

.poster:hover img {
  transform: scale(1.5)
}